<div containerStart class="taskContainer {taskStatus}">
    <div class="topBar {taskUrgency}" onclick="toggleFullSize(this)"></div>
    <div taskId="{taskId}" onclick="toggleFullSize(this)">
        <h2>{taskName}</h2>
    </div>
    <div class="flex spaceBetween" style="flex-direction: row;" onclick="toggleFullSize(this)">
        <div>
            <div class="flex halfGap">
                <div class="bold">Wer?</div>
                <div>{taskOwner}</div>
            </div>
            <div class="flex halfGap">
                <div class="bold">Wann?</div>
                <div style="text-wrap: nowrap">{taskDueDate}</div>
            </div>
            <div class="flex halfGap">
                <div class="bold">Status:</div>
                <div>{taskStatus}</div>
            </div>
        </div>
    </div>
    <div class="collapsibleDescription">
        <div class="divider" onclick="toggleFullSize(this)"></div>
        <div onclick="toggleFullSize(this)">{taskDescription}</div>
        <div class="divider" onclick="toggleFullSize(this)"></div>
        <div class="flex flexEnd" style="overflow: visible;">
            <button class="roundButton {deleteButtonActive}" style="font-size: 1.5rem;" {deleteButtonAction}>
                <div class="roundButtonInnerBox">✘</div>
            </button>
            <button class="roundButton green" style="font-size: 1.5rem; margin-left: 1rem;" onclick="setTaskDone()">
                <div class="roundButtonInnerBox">✔</div>
            </button>
        </div>
    </div>
</div>