<div id="topMenu" class="flex column">
    <div class="headline flex spaceBetween doubleGap">
        <h1>{greetings}</h1>
        {filterMenu}
        <div>{logout}</div>
    </div>
    <div id="responsiveMenu" class="doubleGap flexEnd">
        <div class="flex gap" style="flex-wrap: wrap;">
            <div class="filterOptionWrapper"><button id="responsiveFilterOptionAll" class="responsiveFilterMenuButton" activated>alle</button></div>
            <div class="filterOptionWrapper"><button id="responsiveFilterOptionMine" class="responsiveFilterMenuButton">meine</button></div>
            <div class="filterOptionWrapper"><button id="responsiveFilterOptionToday" class="responsiveFilterMenuButton">heute</button></div>
            <div class="filterOptionWrapper"><button id="responsiveFilterOptionTomorrow" class="responsiveFilterMenuButton">morgen</button></div>
        </div>
        <div>
            <div class="filterOptionWrapper"><button id="responsiveLogoutButton"
                    class="cancelButton responsiveMenuButton" onclick="logout()" style="margin-top: 0;">➜</button></div>
        </div>
    </div>
</div>