:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    --background-grey: #474F50;
    --red: #C63957;
    --lighter-red: #D16179;
    --green: #30a48b;
    --lighter-green: #39C6A8;
    --lightest-green: #71d5bf;
    --darker-grey: #B8BFBF;
    --light-grey: #F6F5F5;
    --dialog-grey: #DEDADA;
    --light-grey-transparent: #fdfafae6;
    --violet: #6239C6;
    --orange: #E68A2E;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: var(--background-grey);
}

textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#topMenu {
    position: fixed;
    top: 2rem;
    z-index: 10;
    transform: translate(-3.5vw, 0%);
    width: 75vw;
    background-color: var(--light-grey-transparent);
    border-radius: 10px;
}

#topMenu>.headline {
    padding: 1rem 5rem;
    border-radius: 10px;
}

#topMenu>.headline>h1 {
    margin: 0;
    font-size: 1.5rem;
}

#responsiveMenu {
    display: none;
    padding: 0 2.5rem 1rem;
}

#bottomBar {
    background-color: var(--light-grey-transparent);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
}

#contentWrapper {
    margin: 0 auto;
    padding: 8rem 1rem;
    width: 70%;
    height: 100%;
    min-height: 100vh;
    background-color: #9A9A9A;
    z-index: 2;
}

#tasksWrapper {
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.confirmButton,
.cancelButton,
.filterMenuButton,
.responsiveMenuButton,
.responsiveFilterMenuButton,
#expandResponsiveMenuButton {
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--light-grey);
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.cancelButton {
    background-color: var(--red);
}

.filterMenuButton,
.responsiveMenuButton,
.responsiveFilterMenuButton,
#expandResponsiveMenuButton {
    margin-top: 0;
    background-color: var(--darker-grey);
}


.filterMenuButton[activated],
.responsiveFilterMenuButton[activated] {
    background-color: var(--green);
}

.confirmButton:active,
.filterMenuButton[activated]:active,
.responsiveFilterMenuButton[activated]:active {
    background-color: var(--lighter-green);
}

.cancelButton:active {
    background-color: var(--lighter-red);
}

.filterMenuButton:active,
#expandResponsiveMenuButton:active {
    background-color: var(--dialog-grey);
}

.taskContainer {
    min-width: 200px;
    padding: 0 3rem 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
    transition: all 0.5s ease-in;
}

.erledigt {
    color: rgb(172, 171, 171)
}

.redBackground {
    background-color: var(--red);
}

.orangeBackground {
    background-color: var(--orange);
}

.greenBackground {
    background-color: var(--green);
}

.lightest-greenBackground {
    background-color: var(--lightest-green);
}

.darker-greyBackground {
    background-color: var(--darker-grey);
}

.erledigtText {}

.bold {
    font-weight: 600;
    color: rgb(81, 82, 90);
}

.erledigt .bold {
    color: rgb(172, 171, 171)
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.spaceBetween {
    justify-content: space-between;
}

.flexEnd {
    justify-content: flex-end;
}

.gap {
    gap: 1rem;
}

.halfGap {
    gap: 0.5rem;
}

.doubleGap {
    gap: 2rem;
}

.collapsibleDescription {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.divider {
    height: 1rem;
}

.topBar,
.dialogTopBar {
    height: 1rem;
    margin: 0 -3rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dialogTopBar {
    margin: -2.5rem -2.5rem 2.5rem;
}

.roundButton {
    border-radius: 50%;
    border: none;
    color: rgb(242, 243, 242);
    padding: 1rem;
    font-size: 3rem;
}

.roundButtonInnerBox {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roundButton.green {
    background-color: var(--green);
}

.roundButton.red {
    background-color: var(--red);
}

.roundButton.inactive {
    background-color: var(--darker-grey);
}

.roundButton.green:active {
    background-color: var(--lighter-green);
}

.roundButton.red:active {
    background-color: var(--lighter-red);
}

.shadowed {
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
}

#addTaskButton {
    position: relative;
    float: right;
}

#expandResponsiveMenuButton {
    display: none;
}

#responsiveLogoutButton {
    display: none;
}

dialog {
    position: fixed;
    margin: 0 auto;
    top: 35%;
    border-radius: 5px;
    border: none;
    background-color: var(--dialog-grey);
    padding: 2.5rem;
    z-index: 9;
}

#addTaskDialog>.topBar {
    background-color: var(--violet);
    margin: -2.5rem -2.5rem 1.5rem;
}

#taskForm>label {
    margin-top: 0.5rem;
}

@media screen and (max-width: 1100px) {

    #contentWrapper,
    #headline,
    #bottomBar,
    #topMenu {
        width: 100%;
        border-radius: 0;
    }

    #topMenu>.headline {
        position: sticky;
        top: 1.5rem;
        width: 100%;
        padding: 1rem 2.5rem;
        border-radius: 0;
    }

    #bottomBar {
        background-color: unset;
    }

    #contentWrapper {
        padding-top: 8rem;
    }

    @media screen and (max-width: 750px) {
        #topMenu>.headline {
            gap: 0;
        }
        
        #filterMenu {
            gap: 0;
        }

        #responsiveMenu {
            width: 100%;
        }

        .filterOptionWrapper {
            display: flex;
        }

        #logoutButton {
            display: none;
        }

        #expandResponsiveMenuButton {
            display: block;
        }

        #responsiveLogoutButton {
            display: initial;
            flex-grow: 1;
            background-color: var(--red);
        }

        .filterMenuButton {
            display: none;
        }

    }

    @media screen and (max-width: 600px) {
        #formContent {
            flex-direction: column;
        }

        #loginFormContent {
            flex-direction: column;
        }
    }


}