    .multiline {
        white-space: pre;
    }

    .marginTop {
        margin-top: 0.5rem;
    }

    .divider {
        min-height: 20px;
    }


    .headerContainerRight {
        flex: 0 0 25%;
    }

    .bold {
        font-weight: bold;
    }

    .grey {
        color: var(--grey);
    }

    .right {
        text-align: right;
    }

    table {
        border-collapse: collapse;
    }

    td,
    th {
        padding: 5px;
        text-align: center;
        border-radius: 0;
    }

    th {
        font-size: calc(1.2 * var(--font-size-small));
        background-color: var(--table-blue);
        color: var(--text-light);
    }

    button {
        position: relative;

    }

    #invoiceWrapper {
        min-width: 600px;
        max-width: 900px;
        padding: 50px 100px 50px;
        margin: 0 auto;
        background-color: var(--background-main);
        border-radius: 10px;
        margin-top: -10px;
        position: relative;
        z-index: 1;
    }

    #invoiceWrapper>* {
        font-size: var(--font-size-small);
    }

    #paymentInfo {
        background-color: var(--lighter-grey);
        padding: 5px;
        font-size: 10px;
        border-radius: 0;
    }

    @media print {

        html {
            height: 99%;
            width: 99%;
            margin: 0 auto;
        }


        body {
            background-color: white;
            print-color-adjust: exact !important;
            margin: 0 auto;
            width: 100%;            
        }

        #paymentInfo {
            position: fixed;
            bottom: 0px;
            left: 5px;
            right: 5px;
            break-before: always;
        }

        #invoiceWrapper {
            width: 100%;
            padding: 0;
            margin: 0;
            background-color: white;
        }

        button,
        #topMenuWrapper {
            display: none;
        }

        table {
            page-break-inside: auto
        }

        thead {
            display: table-header-group;
        }

        tbody {
            display: table-row-group;
        }
        
        tfoot {
            display: table-footer-group;
            height: 60px;
        }
        
        th {
            break-inside: avoid;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

        #totalAmountBlock {
            page-break-before: auto;
            page-break-inside: avoid;
        }
    }

    @page {
        size: A4 portrait;
    }