#invoiceOverviewTable {
    width: 100%;
}

#invoiceOverviewTable tr {
    height: 3rem; 
}

#invoiceOverviewTable tr:nth-child(odd) {
    background-color: var(--lighter-grey);
    }

#invoiceOverviewTable tr:hover {
    background-color: var(--light-blue);
}

